*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}
:root {

    --bluet: rgb(16, 16, 48);
    --bg: rgba(211, 211, 211, 0.511);
}

.fonts {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 25, 10);
    /* background-image: url(bg.webp); */
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}


.game-info{


    color: var(--bluet);
    outline: white solid 2px;
    position: absolute;
    top: 3rem;
    left: 50%; 
    transform: translateX(-50%);
    background-color: var(--bg);
    border-radius: 1rem;
    border: 1px solid var(--bluet);
    padding: 0.5rem 3rem;
    font-size: 20px;




    
}


 

.tic-tac-toe{

    width: 90%;
    max-width: 20rem;
    
    background-color:  var(--bg);
    border-radius: 1rem ;
    border: 1px solid  rgba(255, 255, 255, 0.6);
    padding: 2rem;
    display: grid ;

    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;

    
}

.box{

    position: relative;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3rem; 
    color: var(--bluet);
    display: flex;

    justify-content: center;
    align-items: center;
    

}

.box1, .box2, .box4, .box5{
    border-right:2px solid white;
    border-bottom:2px solid white;
}

.box3, .box6{
    border-bottom: 2px solid white;
}

.box7, .box8{
    border-right:2px solid white;
}


.btn{

    color: var(--bluet);
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg);
    border-radius: 1rem;
    border: 1px solid var(--bluet);
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: 20px;

    display: none; 

}

.btn.active{

    display: flex;

}

 
.win{
    
    background-color: rgba(0, 128, 0, 0.562) ;
}

